.product{

    &__table{
        background-color: #01384D;
        margin: 35px;
        width: 1200px;
        justify-content: space-between;
    }
    &__list{
        width: 1200px;
    }

    &__title{
        background-color: #fff;    
    }
    &__name{
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        line-height: 18px;
        font-family: 'Montserrat';
        padding: 15px;
    }

    &__names{
        text-align: center;
        color: #000;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        padding: 12px;
    }
    &__titles{
        display: flex;
        justify-content: flex-end;
    }
    &__left{
        border: none;
        background:#E6EBED;
        border-radius: 5px;
        width: 34px;
        height: 34px;
        margin: 5px;
        cursor: pointer;
    }
    &__right{
        width: 34px;
        height: 34px;
        border: none;
        background-color: #fbe9e9;
        cursor: pointer;
        margin: 5px;
        padding: 6px;
        border-radius: 5px;
    }

    &__dialog{
        width: 1030px;
        height: 450px;
        background-color: #fff;
        position: absolute;
        border: 1px solid #01384D;
        top: 22%;
        left: 12%;
    }

    &__file{
        width: 220px;
        height: 220px;
        background-color: #E6EBED;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    &__input{
        width: 240px;
        height: 30px;
        outline: none;
        border: 1px solid #01384D;
        background-color: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        // align-items: center;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        width: 240px;
        align-items: center;
    }
    &__select{
        width: 240px;
        height: 43px;
        outline: none;
        border: 1px solid #01384D;
        border-radius: 5px;
    }
    &__aside, &__asides{
        margin-top: -40px;
    }
    &__btn{
        background-color: #01384D;
        width: 230px;
        height: 40px;
        border: none;
        color: #fff;
        margin-top: 25px;
        border-radius: 7px;
    }
}