.technology{

    &__page{
        background-color: #01384D;
        margin: 35px;
        width: 1200px;
        justify-content: space-between;
      }
      &__title{
        background-color: #fff;
      }
      &__list{
        width: 1200px;
      }
      &__names{
          text-align: center;
          color: #000;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          padding: 12px;
      }

      &__name{
          color: #fff;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          padding: 15px;
          font-family: 'Montserrat';
      }

      &__item{
          display: flex;
          justify-content: flex-end;
          padding: 8px;
      }
      &__left{
          border: none;
          background:#E6EBED;
          border-radius: 5px;
          width: 34px;
          height: 34px;
          margin: 5px;
          cursor: pointer;
      }

      &__right{
          width: 34px;
          height: 34px;
          border: none;
          background-color: #fbe9e9;
          cursor: pointer;
          margin: 5px;
      }

      &__buttons{
        background: #01384D;
        border-radius: 8px;
        width: 135px;
        height: 40px;
        border: 2px solid #01384D;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        cursor: pointer;
    }

    &__button{
        position: absolute;
        top: 90%;
        left: 85%;
    }

    &__dialog{
        border: 2px solid rgb(93, 88, 88);
        background-color: #f5f5f5;
        width: 545px;
        height: 384px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 545px;
    }

    &__input{
        width: 250px;
        height: 40px;
        outline: none;
        padding: 7px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
    }
    &__close{
        width: 30px;
        height: 30px;
        background-color: #01384D;
        border: none;
        cursor: pointer;
    }

    &__closes{
        display: flex;
        justify-content: flex-end;
    }
    &__full{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000;
    }
}